<style>
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
margin-top: 10em;
margin-left: 35em;
background-color: #5499C7;
width: 35em;
height: 40em;
padding: 1em;
}

.myForm * {
box-sizing: border-box;
}

.myForm label {

font-weight: bold;

}

.required
{
    color: red;
}

.myForm input,
.myForm select,
.myForm textarea {
float: right;
width: 20em;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
border-radius: 5px;
}

.myForm textarea {
height: 100px;
}

.myForm button {
padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 14em;
margin-top: 1.8em;
background-color:#CCCCCC;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
}
</style>

