<!-- CSS -->
<style>
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
margin-top: 10em;
margin-left: 35em;
background-color: #5499C7;
width: 35em;
height: 40em;
padding: 1em;
}
</style>
